.about {
  background-color: rgba(10, 10, 10, 0.925);
  padding: 1rem;
  margin: 0;
  .alignment {
    background-color: rgba(10, 10, 10, 0.253);
    margin: 12vw auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 70%;

    .col-1 {
      z-index: 2;
      padding: 4rem .8rem;
      max-width: 50%;
      float: left;

      .text-wrapper {
        .sub_title {
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }

        .sub_paragraph {
          margin: 1.25rem 0;
          font-size: 1.2rem;
          font-weight: normal;
          color: rgb(255, 246, 218);
        }
      }
    }

    .col-2 {
      float: right;
      padding: 3rem;

      .about_img {
        width: 100%;
      }
    }
  }
}