body,
html {
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/iconpack/pexels-victor-miyata-3682837.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.823);
  height: 100%;
  -webkit-animation: fadeInAnimation ease 0.5s;
          animation: fadeInAnimation ease 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay {
  background-color: rgba(24, 23, 21, 0.822);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 120rem;
}

header {
  width: 100%;
}

@media screen and (max-width: 950px) {
  header .navbar .alignment {
    max-width: 100%;
  }
  header .navbar .alignment .col-1 {
    padding: 1rem;
  }
  header .navbar .alignment .col-1 .nav_logo .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.65rem;
  }
  header .navbar .alignment .col-1 .nav_links .list_ordered {
    display: none;
  }
  header .navbar .alignment .col-2 .cart_login .login {
    display: none;
    margin: 0;
  }
  header .navbar .alignment .col-2 .cart_login .cart {
    display: none;
    margin: 0;
  }
  header .main .alignment {
    max-width: 90%;
  }
  header .main .alignment .col-1 {
    max-width: 100%;
  }
  header .main .alignment .col-1 .text-wrapper .sub_title {
    font-weight: normal;
    font-size: 1.8rem;
  }
  header .main .alignment .col-1 .text-wrapper .button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.5rem 0;
    width: 9rem;
  }
  header .footer .alignment {
    padding: 0;
  }
  header .footer .alignment .col-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  header .footer .alignment .col-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  header .fantasia .alignment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1500px) {
  header .navbar .alignment {
    max-width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  header .navbar .alignment {
    max-width: 95%;
  }
}
/*# sourceMappingURL=index.css.map */