body,
html {
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/iconpack/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.823);
  height: 100%;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  background-color: rgba(19, 17, 15, 0.89);
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 120rem;
}

header {
  width: 100%;
}

nav {
  animation: swipeFromTop 0.5s ease-in;
}

.navbar {
  margin: 0;
  top: 0;
  background-color: #121618e0;
  .alignment {
    margin: 0 auto;
    max-width: 69.3%;
    display: flex;
    justify-content: space-between;
    .col-1 {
      // background-color: green;
      z-index: 2;
      padding: 0.5rem;
      display: inline-flex;
      .nav_logo {
        display: flex;
        align-items: center;
        .title {
          color: #ffdd9d;
          font-weight: normal;
          font-size: 2.3rem;

          i {
            color: #ffdd9d;
          }
        }
      }

      .nav_links {
        margin: 0 1vw;
        .list_ordered {
          display: inline-flex;
          list-style: none;
          .list_item {
            display: flex;
            align-items: center;
            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.926);
              margin: 1.5rem 0.8rem;
              font-size: 1.1rem;
              transition: 0.5s ease-in-out;
            }

            a:hover {
              color: #ffdd9d;
              transition: 0.12s ease-in;
            }
          }
        }
      }
    }

    .col-2 {
      // background-color: orange;
      z-index: 2;
      padding: 0.5rem;
      display: inline-flex;

      .cart_login {
        display: flex;
        align-items: center;
        .login {
          color: #fff4e0;
          font-weight: normal;
          font-size: 1.15rem;
          text-decoration: none;

          i {
            color: #ffdd9d;
          }
        }
        .cart {
          margin: 0 1.35rem;
          color: #fff4e0;
          font-weight: normal;
          font-size: 1.15rem;
          text-decoration: none;

          i {
            color: #ffdd9d;
          }
        }
      }
    }

    .col-3 {
      // background-color: orange;
      z-index: 2;
      padding: 0.5rem;
      display: inline-flex;

      .cart_logout {
        display: flex;
        align-items: center;
        a {
          display: none;
          color: #0f0f0f;
          font-weight: bold;
          font-size: 1rem;
          text-decoration: none;
          background-color: #fff1d6;
          padding: 1rem 1.35rem;
        }
      }
    }
  }
}

.main {
  // background-color: rgb(238, 255, 0);

  .alignment {
    margin: 10vw auto;
    max-width: 69.3%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;

      //  background-color: rgba(252, 46, 46, 0.918);
      z-index: 2;
      max-width: 65%;
      float: left;
      .text-container {
        // background-color: rgb(0, 92, 128);
        margin: 0 0.6rem;
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-weight: normal;
          font-size: clamp(1.5rem, 10vw, 3rem);
          color: #fff4e0;
        }
      }

      .btn-container {
        // background-color: green;
        margin: 3rem 0.6rem;
        a {
          animation: fadeInAnimation 2.5s ease-in;
          display: inline-flex;
          align-items: center;
          text-decoration: none;
          font-size: 1.3rem;
          margin: 1rem 0.1rem;
          background-color: #ffdd9d;
          color: rgb(21, 21, 21);
          padding: 0.8rem;
          transition: 0.25s all ease-out;

          i {
            margin-right: 0.5rem;
          }
        }

        a:hover {
          background-color: #ffdd9dde;
          transition: 0.15s ease-in;
          color: rgb(21, 21, 21);
        }

        .important {
          background-color: #00000034;
          border: solid 0.15rem #ffdd9d;
          color: #ffdd9d;
        }
      }
    }

    .right-column {
      animation: swipeFromRight 0.35s ease-in;
      //  background-color: rgba(46, 245, 252, 0.918);
      z-index: 2;
      max-width: 100%;
      float: right;

      .img-container {
        lottie-player {
          animation: fadeInAnimation 2.5s ease-in;
          width: 100% !important;
          height: auto;
        }
      }
    }
  }
}

.foodlist {
  background-color: rgba(10, 10, 10, 0.925);
  padding: 1rem;
  margin: 0;
  .alignment {
    margin: 2vw auto;
    max-width: 69.6%;
    display: flex;
    justify-content: space-between;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      background-color: rgba(4, 4, 4, 0.028);
      z-index: 2;
      float: left;
      max-width: 85%;

      .menu-container {
        animation: fadeInAnimation 2s ease-in;

        ol {
          display: inline-flex;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            a {
              text-decoration: none;
              color: #ffdd9d;
              margin: 0 0.15rem;
              font-size: 1.1rem;
              transition: 0.5s ease-in-out;
              background-color: #1a19176b;
              border: solid 0.15rem #ffdd9d;
              padding: 1rem;
              transition: 0.12s;
            }

            .important {
              background-color: #1a1917;
              border: solid 0.3rem #1a191721;
              transition: 0.12s;
            }

            a:hover {
              transition: 0.12s ease-in;
              background-color: #1a1917;
              border: solid 0.3rem #1a191721;
            }

            a:focus {
              background-color: #1a1917;
              border: solid 0.3rem #1a191721;
            }
          }
        }

        .food-container {
          display: none;
          flex-direction: column;
          width: 100%;
          .food_div {
            max-width: 60%;
            background-color: #1b1b189f;
            padding: 0.5rem;
            border-radius: 8px;
            margin: 0.4rem 0.15rem;
            .food_name {
              line-height: 1.5;
              font-weight: normal;
              font-size: 1.8rem;
              color: white;
            }

            .food_paragraph {
              color: whitesmoke;
              width: auto;
              font-size: 1.3rem;
              line-height: 2;
            }

            .img_width {
              float: right;
              width: 30%;
            }

            .food_price {
              color: #ffdd9d;
              font-size: 1.3rem;
            }
            .currency {
              color: #ffe7bc;
              font-size: 1.3rem;
            }
            .food_count {
              color: #f8f4ed;
              font-size: 1.4rem;
            }
            .button {
              text-decoration: none;
              color: #ffdd9d;
              transition: 0.5s ease-in-out;
              background-color: #1a19176b;
              border: solid 0.15rem #5e5e5e29;
              padding: 0.2rem 0.5rem;
              transition: 0.12s;
            }

            .amount {
              color: #ffdd9d;
              transition: 0.5s ease-in-out;
              background-color: #1a19176b;
              border: solid 0.15rem #5e5e5e29;
              padding: 0.2rem 0.5rem;
              transition: 0.12s;
              font-size: 1.07rem;
              width: 4rem;
            }
          }
        }

        .drinks-container {
          display: none;
          flex-direction: column;
          width: 100%;
          .drink_div {
            max-width: 40rem;
            background-color: #1b1b189f;
            padding: 0.5rem;
            border-radius: 8px;
            margin: 0.4rem 0.15rem;
            .food_name {
              line-height: 1.5;
              font-weight: normal;
              font-size: 1.8rem;
              color: white;
            }

            .food_paragraph {
              color: whitesmoke;
              width: auto;
              font-size: 1.3rem;
              line-height: 2;
            }

            .img_width {
              float: right;
              width: 30%;
            }

            .food_price {
              color: #ffdd9d;
              font-size: 1.3rem;
            }
            .currency {
              color: #ffe7bc;
              font-size: 1.3rem;
            }
            .food_count {
              color: #f8f4ed;
              font-size: 1.4rem;
            }
            .button {
              text-decoration: none;
              color: #ffdd9d;
              transition: 0.5s ease-in-out;
              background-color: #1a19176b;
              border: solid 0.15rem #5e5e5e29;
              padding: 0.2rem 0.5rem;
              transition: 0.12s;
            }

            .amount {
              color: #ffdd9d;
              transition: 0.5s ease-in-out;
              background-color: #1a19176b;
              border: solid 0.15rem #5e5e5e29;
              padding: 0.2rem 0.5rem;
              transition: 0.12s;
              font-size: 1.07rem;
              width: 4rem;
            }
          }
        }
      }
    }
  }
}

.fantasia {
  background-color: rgba(10, 10, 10, 0.925);
  padding: 1rem;
  margin: 0;

  .alignment {
    margin: 2vw auto;
    max-width: 71%;
    display: flex;
    justify-content: space-between;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      padding: 1em;
      min-width: 35%;
      float: left;

      h2 {
        animation: fadeInAnimation 2s ease-in;
        font-size: 2.75rem;
        color: #fdf4f4;
        font-weight: normal;
      }

      p {
        font-size: 1.25rem;
        color: rgb(212, 212, 212);
      }

      .flexbox {
        animation: fadeInAnimation 2s ease-in;
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin: 0.5rem 0;
        .div {
          margin: 0.3rem;
          h3 {
            font-weight: normal;
            font-size: 1.4rem;
            color: #ffdd9d;
          }

          .select-wrapper {
            margin: 0.5rem 0;
            #pohja {
              background-color: #ffdd9d;
              border: solid 0.1rem rgb(14, 14, 14);
              padding: 0.4rem 0.5rem;
              outline: none;
              font-size: 0.95rem;
            }

            #kastike {
              background-color: #ffdd9d;
              border: solid 0.1rem rgb(14, 14, 14);
              padding: 0.4rem 0.5rem;
              outline: none;
              font-size: 0.95rem;
            }
          }
        }
      }

      .taytteet-container {
        margin: 0.3rem;
        h3 {
          font-weight: normal;
          font-size: 1.4rem;
          color: #ffdd9d;
        }

        .select-wrapper {
          margin: 0.5rem 0;

          #taytteet {
            list-style-type: none;

            li {
              color: rgb(255, 245, 198);
            }
          }
        }
      }

      .complete-order {
        margin: 2rem 0;

        a {
          text-decoration: none;
          font-size: 1.25rem;
          color: rgb(26, 26, 26);
          background-color: #ffdd9d;
          border: solid 0.15rem #493a1d;
          padding: 0.5rem 0.6rem;
          transition: 0.4s all ease-in;
        }

        a:hover {
          color: #ffdd9d;
          background-color: rgb(26, 26, 26);
          transition: 0.4s all ease-in;
        }
      }
    }
    .col-2 {
      float: left;
      z-index: 2;

      .fantasia_preview {
        width: 100%;
        display: flex;
        animation: fadeInAnimation 2s ease-in;
      }
    }
  }
}

.order {
  background-color: rgba(10, 10, 10, 0.925);
  padding: 1rem;
  margin: 0;

  .alignment {
    margin: 2vw auto;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      padding: 1em;
      max-width: 35%;
      float: left;

      h2 {
        font-size: 2.45rem;
        text-align: center;
        color: #acacac;
        font-weight: normal;
      }

      .wrapper {
        .div {
          margin: 1.5rem 0;
          text-align: center;
          a {
            text-decoration: none;
            font-size: 1.25rem;
            color: rgb(26, 26, 26);
            background-color: #ffdd9d;
            padding: 0.5rem 0.6rem;
            transition: 0.4s all ease-in;
            border: solid 0.15rem #493a1d;
          }

          a:hover {
            color: #ffdd9d;
            background-color: rgb(26, 26, 26);
            transition: 0.4s all ease-in;
          }
        }

        .form {
          display: none;
          text-align: left;

          input[type="text"] {
            font-size: 1.2rem;
            background-color: rgb(34, 34, 34);
            padding: 0.3rem;
            border: none;
            color: white;
          }

          input[type="button"] {
            font-size: 1.2rem;
            background-color: #ffdd9d;
            padding: 0.3rem;
            margin: 0 -0.22rem;
            border: none;
            color: rgb(34, 34, 34);
            transition: 0.4s all ease-in;
          }

          input[type="button"]:hover {
            font-size: 1.2rem;
            background-color: rgb(34, 34, 34);
            padding: 0.3rem;
            margin: 0 -0.22rem;
            border: none;
            color: #ffdd9d;
            transition: 0.2s all ease-in;
          }

          p {
            margin: 0.65rem 0;
            font-size: 1.15rem;
            color: rgb(209, 209, 209);
          }

          input:hover,
          input:focus {
            outline: none;
          }
        }

        .kaava_form {
          text-align: left;
          display: none;

          h3 {
            color: rgb(224, 224, 224);
          }

          p {
            margin: 0;
            font-size: 1.2rem;
            font-weight: normal;
            color: #ffdd9d;
          }
        }
      }
    }
  }
}

.about {
  background-color: rgba(10, 10, 10, 0.925);
  padding: 1rem;
  margin: 0;
  .alignment {
    background-color: rgba(10, 10, 10, 0.253);
    margin: 10vw auto;
    max-width: 69.3%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;

      z-index: 2;
      max-width: 100%;
      float: left;

      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;

          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }

        p {
          animation: fadeInAnimation 2s ease-in;
          margin: 1.25rem 0.3rem;
          font-size: 1.2rem;
          font-weight: normal;
          color: rgb(255, 246, 218);
        }
      }
    }

    .right-column {
      float: right;

      .img-container {
        img {
          animation: fadeInAnimation 2s ease-in;
          width: 100%;
        }
      }
    }
  }
}

.contact {
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0 1rem;
  margin: 0;
  .alignment {
    margin: 0vw auto;
    max-width: 69.3%;
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      max-width: 100%;
      float: left;
      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }
      }

      form {
        padding-bottom: 5rem;
        margin: 1rem 0;

        .form-container {
          .flex {
            display: inline-flex;
            .field {
              margin-right: 0.5rem;
              label {
                color: white;
                font-weight: normal;
                font-size: 1.45rem;
              }

              input {
                margin: 1em 0;
                background-color: transparent;
                padding: 0.8rem 0.4rem;
                border: solid 0.01rem #908282;
                color: rgb(228, 228, 228);
                font-size: 1.2rem;
                width: 100%;
              }

              input:focus {
                outline: 0;
              }
            }
          }
          .field {
            margin-right: 0.5rem;

            label {
              color: white;
              font-weight: normal;
              font-size: 1.45rem;
            }

            textarea {
              font-family: "Poppins", sans-serif;
              background-color: transparent;
              padding: 0.8rem 0.4rem;
              height: 10rem;
              border: solid 0.01rem #908282;
              color: white;
              font-size: 1rem;
              width: 100%;
            }

            textarea:focus {
              outline: 0;
            }
          }

          #netlify {
            margin: 2rem 0;
          }

          input[type="submit"] {
            text-decoration: none;
            color: #ffdd9d;
            font-size: 1.15rem;
            transition: 0.5s ease-in-out;
            background-color: #12110f;
            border: solid 0.115rem #ffdd9d;
            padding: 0.7rem 1.5rem;
            transition: 0.1s all ease-in;
          }

          input[type="submit"]:hover {
            background-color: #ffdd9d;
            color: #12110f;
            border: solid 0.115rem #ffdd9d;
            transition: 0.05s all ease-in;
          }
        }
      }
    }

    .right-column {
      animation: swipeFromRight 0.35s ease-in;
      //  background-color: rgba(46, 245, 252, 0.918);
      z-index: 2;
      max-width: 50%;
      float: right;

      .img-container {
        lottie-player {
          animation: fadeInAnimation 2.5s ease-in;
          width: 80% !important;
          height: auto;
        }
      }
    }
  }
}

.loginForm {
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0 1rem;
  margin: 0;
  .alignment {
    margin: 0vw auto;
    max-width: 69.3%;
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      max-width: 100%;
      float: left;
      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }
      }

      form {
        padding-bottom: 5rem;
        margin: 1rem 0;

        .form-container {
          .flex {
            display: inline-flex;
            .field {
              margin-right: 0.5rem;
              label {
                color: white;
                font-weight: normal;
                font-size: 1.45rem;
              }

              input {
                margin: 1em 0;
                background-color: transparent;
                padding: 0.8rem 0.4rem;
                border: solid 0.01rem #908282;
                color: rgb(228, 228, 228);
                font-size: 1.2rem;
                width: 100%;
              }

              input:focus {
                outline: 0;
              }
            }
          }
          .field {
            margin-right: 0.5rem;

            label {
              color: white;
              font-weight: normal;
              font-size: 1.45rem;
            }

            textarea {
              font-family: "Poppins", sans-serif;
              background-color: transparent;
              padding: 0.8rem 0.4rem;
              height: 10rem;
              border: solid 0.01rem #908282;
              color: white;
              font-size: 1rem;
              width: 100%;
            }

            textarea:focus {
              outline: 0;
            }
          }

          #netlify {
            margin: 2rem 0;
          }

          input[type="submit"] {
            text-decoration: none;
            color: #ffdd9d;
            font-size: 1.15rem;
            transition: 0.5s ease-in-out;
            background-color: #12110f;
            border: solid 0.115rem #ffdd9d;
            padding: 0.7rem 1.5rem;
            transition: 0.1s all ease-in;
          }

          input[type="submit"]:hover {
            background-color: #ffdd9d;
            color: #12110f;
            border: solid 0.115rem #ffdd9d;
            transition: 0.05s all ease-in;
          }
        }
      }
    }

    .right-column {
      animation: swipeFromRight 0.35s ease-in;
      //  background-color: rgba(46, 245, 252, 0.918);
      z-index: 2;
      max-width: 50%;
      float: right;

      .img-container {
        lottie-player {
          animation: fadeInAnimation 2.5s ease-in;
          width: 80% !important;
          height: auto;
        }
      }
    }
  }
}

.registerForm {
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0 1rem;
  margin: 0;
  .alignment {
    margin: 0vw auto;
    max-width: 69.3%;
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      max-width: 100%;
      float: left;
      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }
      }

      form {
        padding-bottom: 5rem;
        margin: 1rem 0;

        .form-container {
          .flex {
            display: inline-flex;
            .field {
              margin-right: 0.5rem;
              label {
                color: white;
                font-weight: normal;
                font-size: 1.45rem;
              }

              input {
                margin: 1em 0;
                background-color: transparent;
                padding: 0.8rem 0.4rem;
                border: solid 0.01rem #908282;
                color: rgb(228, 228, 228);
                font-size: 1.2rem;
                width: 100%;
              }

              input:focus {
                outline: 0;
              }
            }
          }
          .field {
            margin-right: 0.5rem;
            label {
              color: white;
              font-weight: normal;
              font-size: 1.45rem;
            }

            input {
              margin: 1em 0;
              background-color: transparent;
              padding: 0.8rem 0.4rem;
              border: solid 0.01rem #908282;
              color: rgb(228, 228, 228);
              font-size: 1.2rem;
              width: 100%;
            }

            input:focus {
              outline: 0;
            }
          }

          #netlify {
            margin: 2rem 0;
          }

          input[type="submit"] {
            text-decoration: none;
            color: #ffdd9d;
            font-size: 1.15rem;
            transition: 0.5s ease-in-out;
            background-color: #12110f;
            border: solid 0.115rem #ffdd9d;
            padding: 0.7rem 1.5rem;
            transition: 0.1s all ease-in;
          }

          input[type="submit"]:hover {
            background-color: #ffdd9d;
            color: #12110f;
            border: solid 0.115rem #ffdd9d;
            transition: 0.05s all ease-in;
          }
        }
      }
    }

    .right-column {
      animation: swipeFromRight 0.35s ease-in;
      //  background-color: rgba(46, 245, 252, 0.918);
      z-index: 2;
      max-width: 50%;
      float: right;

      .img-container {
        lottie-player {
          animation: fadeInAnimation 2.5s ease-in;
          width: 80% !important;
          height: auto;
        }
      }
    }
  }
}

.details {
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0 1rem;
  margin: 0;
  .alingment {
    margin: 0vw auto;
    max-width: 69.3%;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      max-width: 100%;
      float: left;

      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }
      }

      .flex-container {
        margin: 4rem 0;
        display: flex;
        flex-direction: row;

        .info {
          margin-right: 5rem;
        }
      }
    }
  }
}

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
.feedback {
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0 1rem;
  margin: 0;
  .alignment {
    margin: 0vw auto;
    max-width: 69.3%;
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-column {
      animation: swipeFromLeft 0.35s ease-in;
      z-index: 2;
      max-width: 100%;
      float: left;
      .text-container {
        h2 {
          animation: fadeInAnimation 2s ease-in;
          font-size: 2.2rem;
          font-weight: normal;
          color: white;
        }
      }

      form {
        padding-bottom: 5rem;
        margin: 1rem 0;

        .form-container {
          .flex {
            display: inline-flex;
            .field {
              margin-right: 0.5rem;
              label {
                color: white;
                font-weight: normal;
                font-size: 1.45rem;
              }

              input {
                margin: 1em 0;
                background-color: transparent;
                padding: 0.8rem 0.4rem;
                border: solid 0.01rem #908282;
                color: rgb(228, 228, 228);
                font-size: 1.2rem;
                width: 100%;
              }

              input:focus {
                outline: 0;
              }
            }
          }
          .field {
            margin-right: 0.5rem;

            label {
              color: white;
              font-weight: normal;
              font-size: 1.45rem;
            }

            textarea {
              font-family: "Poppins", sans-serif;
              background-color: transparent;
              padding: 0.8rem 0.4rem;
              height: 10rem;
              border: solid 0.01rem #908282;
              color: white;
              font-size: 1rem;
              width: 100%;
            }

            textarea:focus {
              outline: 0;
            }
          }

          #netlify {
            margin: 2rem 0;
          }

          input[type="submit"] {
            text-decoration: none;
            color: #ffdd9d;
            font-size: 1.15rem;
            transition: 0.5s ease-in-out;
            background-color: #12110f;
            border: solid 0.115rem #ffdd9d;
            padding: 0.7rem 1.5rem;
            transition: 0.1s all ease-in;
          }

          input[type="submit"]:hover {
            background-color: #ffdd9d;
            color: #12110f;
            border: solid 0.115rem #ffdd9d;
            transition: 0.05s all ease-in;
          }
        }
      }
    }

    .right-column {
      animation: swipeFromRight 0.35s ease-in;
      //  background-color: rgba(46, 245, 252, 0.918);
      z-index: 2;
      max-width: 50%;
      float: right;

      .img-container {
        lottie-player {
          animation: fadeInAnimation 2.5s ease-in;
          width: 80% !important;
          height: auto;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

// Animations
@keyframes swipeFromRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeFromLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeFromTop {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
