.main {
  .alignment {
    margin: 12vw auto;
    max-width: 70%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .col-1 {
      background-color: rgba(4, 4, 4, 0.028);
      z-index: 2;
      max-width: 65%;
      .text-wrapper {
        .sub_title {
          font-weight: normal;
          font-size: 3.2rem;
          color: #fff4e0;
        }
      }

      .btn-wrapper {
        margin: 3rem 0;
        .button {
          text-decoration: none;
          font-size: 1.3rem;
          margin: 1rem 0.1rem;
          background-color: #ffdd9d;
          color: rgb(21, 21, 21);
          padding: 0.8rem;
          transition: 0.25s all ease-out;
        }

        .button:hover {
          background-color: #ffdd9dde;
          transition: 0.15s ease-in;
          color: rgb(21, 21, 21);
        }

        .important {
          background-color: #00000034;
          border: solid 0.15rem #ffdd9d;
          color: #ffdd9d;
        }
      }
    }
  }
}