.navbar {
  margin: 0;
  top: 0;
  background-color: #121618e0;
}

.navbar .alignment {
  margin: 0 auto;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .alignment .col-1 {
  z-index: 2;
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .alignment .col-1 .nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .alignment .col-1 .nav_logo .title {
  color: #ffdd9d;
  font-weight: normal;
  font-size: 2.3rem;
}

.navbar .alignment .col-1 .nav_logo .title i {
  color: #ffdd9d;
}

.navbar .alignment .col-1 .nav_links {
  margin: 0 1vw;
}

.navbar .alignment .col-1 .nav_links .list_ordered {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.navbar .alignment .col-1 .nav_links .list_ordered .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .alignment .col-1 .nav_links .list_ordered .list_item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.926);
  margin: 1.5rem 0.8rem;
  font-size: 1.1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar .alignment .col-1 .nav_links .list_ordered .list_item a:hover {
  color: #ffdd9d;
  -webkit-transition: 0.12s ease-in;
  transition: 0.12s ease-in;
}

.navbar .alignment .col-2 {
  z-index: 2;
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .alignment .col-2 .cart_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .alignment .col-2 .cart_login .login {
  color: #fff4e0;
  font-weight: normal;
  font-size: 1.15rem;
  text-decoration: none;
}

.navbar .alignment .col-2 .cart_login .login i {
  color: #ffdd9d;
}

.navbar .alignment .col-2 .cart_login .cart {
  margin: 0 1.35rem;
  color: #fff4e0;
  font-weight: normal;
  font-size: 1.15rem;
  text-decoration: none;
}

.navbar .alignment .col-2 .cart_login .cart i {
  color: #ffdd9d;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .alignment {
  z-index: 2;
  padding: 2rem;
  background-color: #ffdd9d;
  width: 100%;
}

.footer .alignment .col-1 {
  margin: 0 auto;
  max-width: 73.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .alignment .col-1 .div {
  padding: 0.5rem;
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .alignment .col-1 .div p {
  line-height: 2;
  font-weight: normal;
  color: #463d29;
}

.footer .alignment .col-1 .div p i {
  color: #1a1917;
}

.footer .alignment .col-1 .div p span {
  font-weight: bold;
  color: black;
}

.footer .alignment .col-2 {
  margin: 0 auto;
  max-width: 73.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .alignment .col-2 .div {
  padding: 0.5rem;
  margin: 0rem 2rem;
}

.footer .alignment .col-2 .div p {
  max-width: 20.5rem;
  font-weight: normal;
  color: #463d29;
}

.footer .alignment .col-2 .div p i {
  color: #1a1917;
}

.footer .alignment .col-2 .div p span {
  font-weight: normal;
  color: black;
  font-size: 1.25rem;
}

.process .alignment {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 6.5vw auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process .alignment .column {
  z-index: 2;
  padding: 1em;
  max-width: 35%;
  float: left;
  background-color: #ffdd9d;
}

.process .alignment .column .header_title {
  font-size: 2.5rem;
  text-align: center;
  color: #181817;
  font-weight: normal;
}

.process .alignment .column .header_title span {
  color: #080808;
}

.process .alignment .column .wrapper .div {
  margin: 1.5rem 0;
  text-align: center;
}

.process .alignment .column .wrapper .div a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #1a1a1a;
  background-color: #ffdd9d;
  padding: 0.5rem 0.6rem;
  -webkit-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
  border: solid 0.15rem #493a1d;
}

.process .alignment .column .wrapper .div a:hover {
  color: #ffdd9d;
  background-color: #1a1a1a;
  -webkit-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.process .alignment .column .wrapper .form {
  display: none;
  text-align: left;
}

.process .alignment .column .wrapper .form input[type="text"] {
  font-size: 1.2rem;
  background-color: #222222;
  padding: 0.3rem;
  border: none;
  color: white;
}

.process .alignment .column .wrapper .form input[type="button"] {
  font-size: 1.2rem;
  background-color: #ffdd9d;
  padding: 0.3rem;
  margin: 0 -0.22rem;
  border: none;
  color: #222222;
  -webkit-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.process .alignment .column .wrapper .form input[type="button"]:hover {
  font-size: 1.2rem;
  background-color: #222222;
  padding: 0.3rem;
  margin: 0 -0.22rem;
  border: none;
  color: #ffdd9d;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.process .alignment .column .wrapper .form .header_paragraph {
  margin: 0.65rem 0;
  font-size: 1.15rem;
  color: #1a1919;
}

.process .alignment .column .wrapper .form input:hover,
.process .alignment .column .wrapper .form input:focus {
  outline: none;
}

.process .alignment .column .wrapper .kaava_form {
  text-align: left;
  display: none;
}

.process .alignment .column .wrapper .kaava_form h3 {
  color: #050505;
}

.process .alignment .column .wrapper .kaava_form p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: #353326;
}
/*# sourceMappingURL=components.css.map */